---
import { SITE_TITLE } from '../consts';
---

<header style="padding: 1rem 0; border-bottom: 1px solid #eee;">
  <div style="max-width: 960px; margin: 0 auto; padding: 0 1rem;">
    <h2 style="margin: 0 0 .5rem 0;">
      <a href="/" style="text-decoration: none; color: #333;">{SITE_TITLE}</a>
    </h2>

    <nav>
      <ul style="
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        ">
        <li><a href="/" style="color:#333;">Home</a></li>
        <li><a href="/penjagaan-bayi-baru-lahir" style="color:#333;">Bayi Baru Lahir</a></li>
        <li><a href="/senarai-pusat-terapi-pertuturan-speech-therapy-di-malaysia-dan-6-tip-yang-perlu-dipertimbangkan" style="color:#333;">Perkembangan</a></li>
        <li><a href="/panduan-membeli-car-seat" style="color:#333;">Car Seat</a></li>
        <li><a href="/8-stroller-lipat-payung-yang-ringan-dan-murah-pilihan-lovebaby" style="color:#333;">Stroller</a></li>
        <li><a href="/senaman-ibu-mengandung" style="color:#333;">Ibu Mengandung</a></li>
        <li><a href="/resepi-mudah-berasaskan-roti-untuk-1-tahun-ke-atas" style="color:#333;">Resepi</a></li>
        <li><a href="/17-nama-nama-bermaksud-bunga-untuk-bayi" style="color:#333;">Nama Bayi</a></li>
      </ul>
    </nav>
  </div>
</header>
